* {
    margin: 0;
    padding: 0;
}
.dash1 {
    margin-left: 20px;
    padding-top: 10px;
}
.dash2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
    padding-top: 10px;
}

.top-line {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: rgb(70, 241, 75);
}
.top-box {
    margin-left: 10px;
}
.second-line {
    margin: 20px;
    background:rgb(94, 249, 122);
    color: rgb(7, 7, 7);
    height:110px;
    width: 50%;
    margin-top: 30px;
    border-radius: 10px;

}
.second-lin-box {
    display: flex;
}

.box1 {
    padding: 2px;
}
.box2 {
    padding: 2px;
    font-size: 11px;
}
.box3 {
    padding: 20px;
    padding-left: 5px;
    font-size: 20px;
}
.headline {
    margin-left: 20px;
    padding: 10px;
    height: 220px;
    background: rgb(221, 182, 182);
    margin-right: 20px;
    
}
.horizantal-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 40px;
    margin-top: 10px;
    background: rgb(8, 61, 3);
    color: white;
}
.nav {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.icon {
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    font-size: 22px;
}